.category-add button {
  padding: 8px 16px;
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
}

.category-data{
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}